/* Basic background image styling. */
.background-image {
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
/* 	background-size: fill; */
}

/* Styles for the alternating / transition effect. */
.toggle-image {
    
/*     width: 100%;
    height: 1200px; */
/*     object-fit: fill; */
/*  	position: absolute; */
	top: 0;
	left: 0;
	transition: opacity 1s ease-in-out;
    /* Set rules to fill background */
      min-height: 100%;
      min-width: 1024px;
	
      /* Set up proportionate scaling */
      width: 100%;
          height: auto;
	
      /* Set up positioning */
      position: fixed;
      top: 0;
      left: 0;
}

/* Styles for the specific images. */
.first-image {
	background-image: url('https://photographylife.com/wp-content/uploads/2014/02/Sunset-Sunflower.jpg');	
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701341921.jpg');
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url('https://s169923.gridserver.com/images/winterbarrel.jpg');
	z-index: -1;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}


/* .navbar-brand {
     text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    text-decoration-thickness: 0.1em;
}

.navbar-brand:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.4em;
} */




html { 
  overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
/*     overflow:hidden */
}

.navbar {
    -webkit-box-shadow: 0 3px 6px -6px black;
    -moz-box-shadow: 0 3px 6px -6px black;
    box-shadow: 0 3px 6px -6px black;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width 999*/
}


nav {
    z-index: 5;
}


nav .navbar-nav li {
    padding-right:20px;
}

nav .navbar-nav li a{
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.5em;
    font-weight:bold;
    color: black !important;
    font-size: 15px;
    opacity: 1;
    transition: 1s;
}

nav .navbar-nav li a:hover{
    font-weight:bold;
    color: black !important;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.5em;
}

/* .navbar-toggler {
    float: right;
} */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(43.1, 43.1, 43.1, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



/* Change the link color on hover */
/* li a:hover {
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #d8ecd8;
}
 */

a {
    color: black;
    text-decoration: none;
    font-weight:bold;
}

#thebrand{
    color: black;
    font-weight:bold;
    -o-transition:0.5s;
      -ms-transition:0.5s;
      -moz-transition:0.5s;
      -webkit-transition:0.5s;
      /* ...and now for the proper property */
      transition:0.5s;
}

#thebrand:hover{
    color:#4a934a;
    text-decoration: none;
}

#point{
    text-decoration: underline solid transparent;
    transition: text-decoration 0.5s ease;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.5em;
    color: black;
    font-weight:bold;
    -o-transition:1s;
      -ms-transition:1s;
      -moz-transition:1s;
      -webkit-transition:1s;
      /* ...and now for the proper property */
      transition:1s;
}


a:hover{
/*     color: black; */
    font-weight:bold;
}

#point:hover{
    color:#4a934a;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.5em;
}


.colinfo {
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: #f8f9fa;
/*     box-shadow: 10px 10px 8px black; */
}


.imgLogo {
   max-width:100% !important;
   max-height:100% !important;
   content:url("https://svg-clipart.com/svg/green/6HEwD12-globe-vector.svg");
}







/* styling for choropleth map, dont touch*/
.leaflet-container{
/*     border-radius: 0px 20px 20px 0px; */
    }

#map,
  body,
  html {
    height: 600px;
    z-index: 1;
  }
  
  .leaflet-popup-content {
    text-align: center;
  }

/* CSS from the leaflet-choropleth documentation */
.legend {
    padding: 8px 8px;
    line-height: 18px;
    color: #555;
    background: white;
    border-radius: 2px;
    opacity: 0.7;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


/* ------- Format Footer ---------*/

.footer {
    left: 0;
    bottom: 0;
    padding-top:5px;
    padding-bottom:0px;
    width: 100%;
    background-color: #f8f9fa;
    opacity:1;
    color: black;
    text-align: center;
    height: 35px;
/*     -webkit-box-shadow: 0px -1px 1px 0px #888888;
    -moz-box-shadow: 0px -1px 1px 0px #888888;
    box-shadow: 0px -1px 1px 0px #888888; */
}











/* ------- Adjust for Small Screen ---------*/

@media (max-width: 1000px) {
    
    #thebrand {
        display: none;
    }
    
    .navbar-toggler {
        float: right;
    }
    
    
    .navbar-collapse {
        text-align:center;
    }
    
    .info {
        text-align:center;
    }
    
    .wrapcol {
        float: none;
        margin: auto;
    }
    
}