<!DOCTYPE html>
<html>
  <head>
    
    <link rel="shortcut icon" href="https://svg-clipart.com/svg/green/6HEwD12-globe-vector.svg" type="image/x-icon">
      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    
    <!-- Leaflet JavaScript code-->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
      
    <!-- JQuery JS-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
            crossorigin="anonymous"></script>
      
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
      
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
    <!-- JQuery CSS-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" type="text/css">
      
      
    <!-- close navbar when click off -->
    <script>
        $(document).ready(function () {
            $(document).click(
                function (event) {
                    var target = $(event.target);
                    var _mobileMenuOpen = $(".navbar-collapse").hasClass("show");
                    if (_mobileMenuOpen === true && !target.hasClass("navbar-toggler")) {
                        $("button.navbar-toggler").click();
                    }
                }
            );
        });
    </script>
      
      
    </head>
    
    <style>
        body {
/*             background-image: url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701341921.jpg'); */
            padding-top: 150px;
        }
    </style>
    

  <body>
      
<!--       Navbar -->
      
            <nav class="navbar navbar-expand-lg navbar-light" style="padding-left:80px; padding-right:80px; padding-top:0px; padding-bottom:0px; background-color:#f8f9fa;">
                <i class="fa fa-leaf" style="font-size:34px;color:#4a934a; margin-top:20px; margin-bottom:20px;"></i>
                <div style="display: inline-block;">
                    <a class="navbar-brand" href="/" style="color:black; padding: 15px; font-size: 30px; font-weight:bold; display: inline-block;">
                        <p style="margin-top:15px;" id="thebrand">Climate Change Dashboard</p>
                    </a>
                </div>
                <button class="navbar-toggler ms-auto" 
                    type="button" 
                    data-target="#navbarContent" 
                    data-toggle="collapse"
                    aria-controls="navbarContent" 
                    aria-expanded="false" 
                    aria-labelledby="Toggle navigation"
                    style="border-color: black; color: black">
                    <span><i class="fa fa-bars" style="color:black; font-size:28px;"></i></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent" tyle="display:flex;">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0;">&nbsp; &nbsp; Home &nbsp; &nbsp;</a>
                        </li>
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/data" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0;">&nbsp; &nbsp;  Data &nbsp; &nbsp;</a>
                        </li>
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/predict" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0;">&nbsp;  &nbsp; Predict &nbsp; &nbsp;</a>
                        </li>
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/resources" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0; ">&nbsp; &nbsp; Resources &nbsp; &nbsp;</a>
                        </li>
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/about" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0;">&nbsp;  &nbsp;About &nbsp; &nbsp;</a>
                        </li>
                    </ul>
                </div>
            </nav>
      
      
<!--       Content -->
      <div class='container'>
          <div class="row" style="text-align:left; padding-top:50px; font-size: 25px;">
              <p style="text-align:left;"><b>About the Data</b></p>
              <p> The data used within this dashboard was gathered from Kaggle.com. Click on a header to view the source.</p>
              <br><br>
              <hr>
              <br>
                  <ul style="padding-left:50px">
                      <li>
                          <a href="https://www.kaggle.com/sevgisarac/temperature-change?select=Environment_Temperature_change_E_All_Data_NOFLAG.csv"><b>"Temperature Change"</b></a> <br><br>
                          Description:<br> "The FAOSTAT Temperature Change domain disseminates statistics of mean surface temperature change by country, with annual updates. The current dissemination covers the period 1961–2019. Statistics are available for monthly, seasonal and annual mean temperature anomalies, i.e., temperature change with respect to a baseline climatology, corresponding to the period 1951–1980. The standard deviation of the temperature change of the baseline methodology is also available. Data are based on the publicly available GISTEMP data, the Global Surface Temperature Change data distributed by the National Aeronautics and Space Administration Goddard Institute for Space Studies (NASA-GISS). Via http://www.fao.org/faostat/en/#data/ET/metadata"<br>
                          <br>
                          Link:<br> https://www.kaggle.com/sevgisarac/temperature-change?select=Environment_Temperature_change_E_All_Data_NOFLAG.csv<br><br>
                      </li>
                      <li>
                          <a href="https://www.kaggle.com/yoannboyere/co2-ghg-emissionsdata"><b>"CO2_GHG_emissions-data"</b></a> <br><br>
                          Description:<br> "This dataset contains CO2 and GHG emissions for countries since 1750 until 2017.
The source is OurWorldInData (https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions). Via https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions"<br>
                          <br>
                          Link:<br> https://www.kaggle.com/yoannboyere/co2-ghg-emissionsdata<br><br>
                      </li>
                      <li>
                          <a href="https://www.kaggle.com/sansuthi/greenhouse-gas-emissions"><b>"Greenhouse Gas Emissions"</b></a> <br><br>
                          Description:<br> "A two-column dataset for Greenhouse gas emissions by sector. Via http://ourworldindata.org/ghg-emissions-by-sector"<br>
                          <br>
                          Link:<br> https://www.kaggle.com/sansuthi/greenhouse-gas-emissions<br><br>
                      </li>
                      <li>
                          <a href="https://www.kaggle.com/akshat0giri/death-due-to-air-pollution-19902017"><b>"Deaths Due to Air Pollution"</b></a> <br><br>
                          Description:<br> "Year: Years range from 1990 to 2017
Air pollution (total) (deaths per 100,000) : Contain total death.
Indoor air pollution (deaths per 100,000) : Contains death due to indoor air pollution.
Outdoor particulate matter (deaths per 100,000) : Contains death due to outdoor pollution.
Outdoor ozone pollution (deaths per 100,000) : Death due to ozone pollution. Via https://ourworldindata.org/air-pollution"<br>
                          <br>
                          Link:<br> https://www.kaggle.com/akshat0giri/death-due-to-air-pollution-19902017<br><br>
                      </li>
                      
                  </ul>
          </div>
      </div>

      
      
      
    <div class="footer">
        <p>&copy; S. Caldwell 2021. Thanks for visiting!</p>
    </div>

      

      
      

    <!-- D3 JS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    </body>
</html>