<!DOCTYPE html>
<html>
  <head>
      
    <link rel="shortcut icon" href="https://svg-clipart.com/svg/green/6HEwD12-globe-vector.svg" type="image/x-icon"> 
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Climate Dashboard</title>
    
    <!-- Leaflet JavaScript code-->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
      
    <!-- JQuery JS-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
            crossorigin="anonymous"></script>
      
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
      
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
    <!-- JQuery CSS-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" type="text/css">
      
    <!-- close navbar when click off -->
    <script>
        $(document).ready(function () {
            $(document).click(
                function (event) {
                    var target = $(event.target);
                    var _mobileMenuOpen = $(".navbar-collapse").hasClass("show");
                    if (_mobileMenuOpen === true && !target.hasClass("navbar-toggler")) {
                        $("button.navbar-toggler").click();
                    }
                }
            );
        });
    </script>
      
    <script>
        function cycleBackgrounds() {
            var index = 0;

            $imageEls = $('.toggle-image'); // Get the images to be cycled.

            setInterval(function () {
                // Get the next index.  If at end, restart to the beginning.
                index = index + 1 < $imageEls.length ? index + 1 : 0;
                // Show the next image.
                $imageEls.eq(index).addClass('show');
                // Hide the previous image.
                $imageEls.eq(index - 1).removeClass('show');

            }, 3500);
        };

        // Document Ready.
        $(function () {
            cycleBackgrounds();
        });
    </script>
      
    </head>
    
<!--     <style>
        body {
            background-image: url('https://photographylife.com/wp-content/uploads/2014/02/Sunset-Sunflower.jpg');
            padding-top: 100px;
        }
    </style> -->
    

  <body>
      
<!--       <div class = 'container' style="margin:0px; padding-left:20px;">
       -->
      <div class="background-image toggle-image first-image show"></div>
      <div class="background-image toggle-image second-image"></div>
      <div class="background-image toggle-image third-image"></div>
    
      
      
<!--       Navbar -->
      
            <nav class="navbar navbar-expand-lg navbar-light" style="padding-left:80px; padding-right:80px; padding-top:0px; padding-bottom:0px; background-color:#f8f9fa;">
                <i href="/" class="fa fa-leaf" style="font-size:34px;color:#4a934a; margin-top:20px; margin-bottom:20px;"></i>
                <div style="display: inline-block;">
                    <a class="navbar-brand" href="/" style="color:black; padding: 15px; font-size: 30px; font-weight:bold; display: inline-block;">
                        <p style="margin-top:15px;" id="thebrand">Climate Change Dashboard</p>
                    </a>
                </div>
                <button class="navbar-toggler ms-auto" 
                    type="button" 
                    data-target="#navbarContent" 
                    data-toggle="collapse"
                    aria-controls="navbarContent" 
                    aria-expanded="false" 
                    aria-labelledby="Toggle navigation"
                    style="border-color: #D3D3D3; color: #aeaeae">
                    <span><i class="fa fa-bars" style="color:#aeaeae; font-size:28px;"></i></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent" tyle="display:flex;">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0;">&nbsp; &nbsp; Home &nbsp; &nbsp;</a>
                        </li>
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/data" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0;">&nbsp; &nbsp;  Data &nbsp; &nbsp;</a>
                        </li>
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/predict" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0;">&nbsp;  &nbsp; Predict &nbsp; &nbsp;</a>
                        </li>
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/resources" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0; ">&nbsp; &nbsp; Resources &nbsp; &nbsp;</a>
                        </li>
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/about" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0;">&nbsp;  &nbsp;About &nbsp; &nbsp;</a>
                        </li>
                    </ul>
                </div>
            </nav>
      
      
<!--       Content -->
      
      
      <div class="container">
            <div class="row" style="padding-bottom:60px; margin-top:175px; padding-left:0px; padding-right:0px;">
                <div class="container">
                    <div class="row" style="position: relative; padding:10px; margin-right:20px; margin-bottom:70px;">
                        <div class='"col" colinfo' style="padding:70px;margin:20px;">
                            <h3 style='font-weight:bold;'>Human-Induced Climate Change is Altering the Face of Our Planet. </h3>
                            <br>
                            <p style="font-size: 20px;">It threatens delicate ecosystems, disrupts weather and preciptation patterns, and increases ocean temperatures, sea levels, and acidity.
                            Such changes have lasting effects on our world— and if we don't act soon, these changes could permanently spiral out of control.</p> <p style="font-size: 20px;font-weight:bold;">So let's do our best to learn the facts.</p><br><hr><br>
                            
                            <div class="container" style="display: flex">
                                <div class="row" style="padding:30px;">
                                    <div class='col-md-6 wrapcol' style="text-align:center; padding:40px;">
                                        <div class='container bleh'>
                                            <a href="/data">
                                                <i class="fa fa-table" style="font-size:75px;color:#4a934a;" href="/data"></i>
                                                <p style="font-size: 20px;font-weight:bold;" href="/data" id="point">Data Visualizations</p>
                                            </a>
                                        </div>
                                        <p style="font-size: 20px;">Explore data visualizations and develop valuable insights on climate change trends.</p>
                                    </div>

                                    <div class='col-md-6 wrapcol' style="text-align:center; padding:40px;">
                                        <div class='container bleh'>
                                            <a href="/resources">
                                                <i class="fa fa-book" style="font-size:75px;color:#4a934a;" href="/resources"></i>
                                                <p style="font-size: 20px;font-weight:bold;" href="/resources" id="point">Resources</p>
                                            </a>
                                        </div>
                                        <p style="font-size: 20px;">Discover how individuals and groups can create actionable plans to combat climate change.</p>
                                    </div>

                                    <div class='col-md-6 wrapcol' style="text-align:center; padding:40px;">
                                        <div class='container bleh'>
                                            <a href="/about">
                                                <i class="fa fa-cogs" style="font-size:75px;color:#4a934a;" href="/predict"></i>
                                                <p style="font-size: 20px;font-weight:bold;" href="/predict" id="point">Predict</p>
                                            </a>
                                        </div>
                                        <p style="font-size: 20px;">Use our machine learning model to predict levels of harmful PM2.5 pollution in the future.</p>
                                    </div>
                                    
                                     <div class='col-md-6 wrapcol' style="text-align:center; padding:40px;">
                                        <div class='container bleh'>
                                            <a href="/about">
                                                <i class="fa fa-question-circle" style="font-size:75px;color:#4a934a;" href="/about"></i>
                                                <p style="font-size: 20px;font-weight:bold;" href="/about" id="point">About</p>
                                            </a>
                                        </div>
                                        <p style="font-size: 20px;">Learn more about the metrics and data used within this dashboard.</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
      
    <div class="footer">
        <p>&copy; S. Caldwell 2021. Thanks for visiting!</p>
    </div>
      
          
<!--     </div>     
           -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!-- D3 JS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
          

    </body>
</html>