<!DOCTYPE html>
<html>
  <head>
    
    <link rel="shortcut icon" href="https://svg-clipart.com/svg/green/6HEwD12-globe-vector.svg" type="image/x-icon">
      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Predict</title>
    
    <!-- Leaflet JavaScript code-->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
      
    <!-- JQuery JS-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
            crossorigin="anonymous"></script>
      
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
      
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
    <!-- JQuery CSS-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" type="text/css">
      
      
    <!-- close navbar when click off -->
    <script>
        $(document).ready(function () {
            $(document).click(
                function (event) {
                    var target = $(event.target);
                    var _mobileMenuOpen = $(".navbar-collapse").hasClass("show");
                    if (_mobileMenuOpen === true && !target.hasClass("navbar-toggler")) {
                        $("button.navbar-toggler").click();
                    }
                }
            );
        });
    </script>
      
      
    </head>
    
    <style>
        body {
/*             background-image: url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701341921.jpg'); */
            padding-top: 150px;
        }
    </style>
    

  <body>
      
<!--       Navbar -->
      
            <nav class="navbar navbar-expand-lg navbar-light" style="padding-left:80px; padding-right:80px; padding-top:0px; padding-bottom:0px; background-color:#f8f9fa;">
                <i class="fa fa-leaf" style="font-size:34px;color:#4a934a; margin-top:20px; margin-bottom:20px;"></i>
                <div style="display: inline-block;">
                    <a class="navbar-brand" href="/" style="color:black; padding: 15px; font-size: 30px; font-weight:bold; display: inline-block;">
                        <p style="margin-top:15px;" id="thebrand">Climate Change Dashboard</p>
                    </a>
                </div>
                <button class="navbar-toggler ms-auto" 
                    type="button" 
                    data-target="#navbarContent" 
                    data-toggle="collapse"
                    aria-controls="navbarContent" 
                    aria-expanded="false" 
                    aria-labelledby="Toggle navigation"
                    style="border-color: black; color: black">
                    <span><i class="fa fa-bars" style="color:black; font-size:28px;"></i></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent" tyle="display:flex;">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0;">&nbsp; &nbsp; Home &nbsp; &nbsp;</a>
                        </li>
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/data" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0;">&nbsp; &nbsp;  Data &nbsp; &nbsp;</a>
                        </li>
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/predict" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0;">&nbsp;  &nbsp; Predict &nbsp; &nbsp;</a>
                        </li>
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/resources" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0; ">&nbsp; &nbsp; Resources &nbsp; &nbsp;</a>
                        </li>
                        <li class="nav-item active" style="padding-right:0; padding-left:0;">
                            <a class="nav-link" href="/about" style="font-size: 20px; font-weight:bold; color:black; padding-right:0; padding-left:0;">&nbsp;  &nbsp;About &nbsp; &nbsp;</a>
                        </li>
                    </ul>
                </div>
            </nav>
      
      
<!--       Content -->
      <div class='container'>
          <div class="row" style="text-align:center; padding-top:50px;">
              <p style="font-size: 25px;"> "Fine particulate matter (PM2.5) is an air pollutant that is a concern for people's health when levels in air are high. PM2.5 are tiny particles in the air that reduce visibility and cause the air to appear hazy when levels are elevated. Outdoor PM2.5 levels are most likely to be elevated on days with little or no wind or air mixing."</p>
              <p style="font-size: 25px; text-align:right;"><b>—New York State Health Department</b></p>
          </div>
      </div>
      
      
      <div class="container" style="max-width: 100%; margin-bottom:80px;">
            <div class="row" style="margin-bottom:0px; margin-top:60px; background-color: #f8f9fa; padding-right:150px; padding-left:150px;">
                <h2 style="font-weight:bold; text-align:center; padding-top:50px;">Forecasting PM2.5 Concentrations</h2><br>
                <div class='col-md-12' style="text-align:center; padding:50px;">
                    <p style="font-size: 20px;">Use our machine learning model to predict future mean PM2.5 (µg/m3) pollution concentrations in Beijing, China. <br><br> This model is based on time series models trained on data gathered from 12 different Beijing districts during the period of 1/3/2013 to 12/31/2016. As such, predicted PM2.5 values are based on integer time steps from the final date included in the model. To plot predicted data for a time period, please enter a positive integer value corresponding to the number of days from 12/31/2016. <br><br>Ex: &nbsp; An input of '365' yields an estimated mean PM2.5 concentration on the day 12/31/2017.</p> <br>
<!--                     <form method = "POST"> -->
                        <p>Days: &nbsp;<input id="xValue" type="number" step="any" placeholder="Enter Time Steps">
                        <button id="renderButton">Enter</button>
<!--                         <p>Prediction = {{ pred }}</p> -->
<!--                     </form> -->
                </div>
                
                <div class='col-md-12' style="text-align:left; padding:50px;">
                    <h3 style="font-weight:bold; text-align:left; padding-top:50px;">What Is Machine Learning?</h3><br>
                    <p style="font-size: 20px;">Machine Learning algorithms are functions with internal parameters that apply labels to data points. These algorithms use training data to set their internal parameters (this is the “learning” of Machine Learning). After feeding known data points outside of the training data (test data), the accuracy of the Machine Learning algorithm can be ascertained and improved upon through various optimization techniques. This allows you to make predictions about your target variable based on the values of the parameters from which your model is trained on. </p> <br>
                    <h3 style="font-weight:bold; text-align:left; padding-top:50px;">How Is Machine Learning Used In This Tool?</h3><br>
                    <p style="font-size: 20px;">This tool draws on the “Beijing Multi-Site Air-Quality Data” on the University of California Irvine's Machine Learning Repository and feeds several time-series algorithms, one for each feature in our dataset, into our final model. Ultimately, our final machine learning algorithm can deduce the expected mean concentration of PM2.5 at the requested time, within 3 years, determined by the user.
</p> <br>
                    <h3 style="font-weight:bold; text-align:left; padding-top:50px;">Why Is This Important?</h3><br>
                    <p style="font-size: 20px;">This model is limited in its current form by the scope of the dataset &ndash; PM2.5 concentrations in Beijing districts for a particular time frame. Similar data collection is likely being conducted by climate scientists in many places around the world. This means that, with the right amount of available data, local forecasts for PM2.5 concentrations could be created using this same methodology. Additionally, different variables specific to these locations can be included that might correlate to changes in PM2.5, such as lax or strict environmental policies. This would provide potentially life-saving insight into climate policy.

</p> <br>
                </div>
<!--                 <div class='col-md-6' style="padding-right:0; text-align:center; padding:50px;">
                </div> -->
          </div>
          <div class="row" style="margin-bottom:0px; margin-top:0px; background-color: #f8f9fa;">
              <div id ="predictions_plot"></div>
          </div>
          <div class="row" style="margin-bottom:0px; margin-top:0px; background-color: #f8f9fa;">
              <div id ="predictions_table"></div>
          </div>
      </div>
      <div class="footer">
          <p>&copy; S. Caldwell 2021. Thanks for visiting!</p>
      </div>

      

      
      
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!-- D3 JS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="../static/plotmachinedata.js"></script>


    </body>
</html>